/* ==============================
   Icon
   =========================== */
/*
  Put a class or id on each icon.
  The use a png or svg image as 
  a background image. Apply a
  background color too.
  See page article of demo
  paging control for example.
*/
.icon {
  .size(30px,30px);
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: center center;
  vertical-align: middle;
  line-height: 30px;
  font-weight: 600;
  -webkit-box-align: center;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'ios7-icon';
  -webkit-text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-align: center;
  margin: 0 auto;
}
